{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <div class="card-title">
                <h3>{{ tag }} Order:</h3>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                    <hr>
                {% endfor %}
                <input type="submit" class="btn btn-info btn-sm" value="Save">
            </form>
        </div>
    </div>
</div>


{% endblock %}